$boardWidth: 100%;
$boardHeight: 100%;

*, *::before, *::after {
	box-sizing: border-box;
}
html, body {
	height: 100%;
    position: fixed;
}
body {
	display: flex;
	margin: 0;
	background-color: #495057;
}
#all, #container, #background, #overlay, #canvas {
    width:$boardWidth;
    height:$boardHeight;
    position: fixed;
    top:0px;
    left:0px;
}
#container {
	line-height: 0;
    z-index: 2;
    position: absolute;
}
#background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #333333;
    width: $boardWidth;
    height: $boardHeight;
}
#canvas {
	width: $boardWidth;
    height: $boardHeight;
	overflow: hidden;
    border-radius: 8px;
    transform: translateY(0);
    z-index: 2;
}
#overlay {
    position: absolute;
    top: 0;
    left: 0;
	width: $boardWidth;
    height: $boardHeight;
    z-index: 3;
}